@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,800;1,700&display=swap');

.tuffbod b{font-family: 'Poppins', sans-serif;
    background-image: linear-gradient(45deg, #552586, #B589D6);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
}


.tuffbod{
  width: 350px;
  background-color: #fff;
  padding: 50px;
  text-align: justify;
  line-height: 20px;
  font-family: 'Poppins', sans-serif;
  color: #2f2f2f;
  font-size: 14px;
  margin: 30px;
  border-radius: 15px;
  box-shadow: 3px 3px 10px #ccc;
}

.tufftag {
  font-family: 'Poppins', sans-serif;
  font-size: 9px;
  background-image: linear-gradient(45deg, #B19CD8, #E6D1F2);
  line-height: 10px;
  padding: 9px;
  margin: 2px;
  float: left;
  border-radius: 5px;
}
